body {
    font-size: calc(var(--font-size) * 1em);
    background-color: orange;
    margin: 1%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid lightslategray;
}

th, td {
    padding: 15px;
    text-align: left;
    text-align: center;
    border-bottom: 1px solid white;
}

form {
    background-color: lightslategray;
    width: 50%;
    margin: auto;
}

span {
    color: black;
}

label, input, textarea, p {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

input, textarea {
    border: 1px black solid;
}

button {
    display: block;
    width: 75%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
    padding: 5px 5px;
    color: white;
    border-color: darkgray;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 45px;
}

p.noDisplay {
    display: none;
}

h1, #p.Texto {
    color: black;
    text-align: center;
}

p {
    margin-top: 50px;
}
